/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  #navbar {
    position: unset !important;
  }
  .mr-auto, .mx-auto {
    float: right;
}

  #navbar {
    position: inherit;
    right: 0;
    padding: inherit;
  }

h1, h2 {
  text-align: center;
}

img {
  vertical-align: middle;
  border-style: none;
  margin: auto;
}

section.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}


/* LOGIN */

.bg-login-image {
  background-image: src("images/login.jpg");
}

/* LOGIN END */
